<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Jay's Clarinet Log</h1>
      <p class="hero__tagline">See all my recordings below!</p>
      <a href="" class="btn btn--accent btn--stretched">see recordings</a>
    </header>
    <picture>
      <source
        type="image/webp"
        srcset="images/clarinet@1x-1.webp 1x, images/clarinet@2x-2.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/clarinet@1x.png 1x, images/clarinet@2x.png 2x"
      />
      <img
        class="hero__image"
        src="images/clarinet@1x.png"
        alt=""
        style="opacity: 0.7"
      />
    </picture>
  </div>
</section>
